<div class="container-fluid">
    <h3 class="text-center mb-2"> {{@model.onlineProjectCount}} projects online  </h3>
    {{#each @model.parsedProjects as |project|}}
      {{#if (eq project.status "online")}} 
      <div class="row">
        <div class="col-12">
          <ProjectCard @project={{project}}></ProjectCard>          
        </div>
      </div>
      {{/if}}
    {{/each}}
    <h3 class="text-center mb-3"> Financed Projects  </h3>
    <div class="row">
        {{#each @model.parsedProjects as |project|}}
          {{#if (not-eq project.status "online")}} 
          <div class="col-6">
            <ProjectCard @project={{project}}></ProjectCard>     
          </div>
          {{/if}}
        {{/each}}   
    </div>
</div>